@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: 'Righteous', cursive;
    background-image: url(https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png);
    box-sizing: border-box;
}

#seleccionar-mascota {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.titulo {
    color: rgb(44, 50, 49);
    font-size: 32px;
    align-content: center;
}

.subtitulo {
    color: black;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background-color: #EAE7B1;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    width: 185px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Righteous', cursive;
    margin: 10px 0 0 0; 
    font-weight: bold;
}

input {
    display: none;
    gap: 10px;
}

input:checked + label {
    background-color: #38cb71;
} 

h1 {
    text-align: center;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;    
    width: 90px;
    font-weight: bold;
}

#mensajes {
    width: 280px;
    background-color:transparent;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    font-family: 'Righteous', cursive;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: black;
    font-weight: bold;
    background-color: #EAE7B1;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px ;

}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Righteous', cursive;
    margin: 10px 0 0 0; 
    font-weight: bold;
}


@media (max-width: 600px ) {
    .tarjetas {
        display: flex;
        align-content: center;
        flex-direction: column;
    }

    .boton-de-ataque {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
        align-items: center;
    }

    #mensajes {
        padding: 5px;
    }

    #mapa {
        width: 300px;
    }

    .subtitulo {
        text-align: center;
    }

}